* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-1: "Century Gothic";
  --themecolor: #0060fd;
  --fontsize: 1.875rem;
}

#title {
  font-family: var(--font-1);
  font-weight: bold;
  color: var(--themecolor);
  font-size: var(--fontsize);
}
.logo-center {
  display: inline-block;
  vertical-align: middle;
}
a {
  text-decoration-line: none;
}
.main-bg {
  background-color: gray;
  background-position: center right 38%;
  background-repeat: no-repeat;
  background-size: 1920px;
  height: 650px;
  position: relative;
  width: 100%;
}
