* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header,
footer {
  background-color: #ffffff;
  text-align: center;
  padding: 0.625rem;
}

.links a {
  text-decoration: none;
}
#title {
  color: #0060fd;
  font-weight: bold;
  font-size: 1.875rem;
  font-family: "Century Gothic";
}

.logo-center {
  display: inline;
  vertical-align: middle;
}

.navigation-menu {
  background-color: #c5c5c5;
  overflow: hidden;
}

.navigation-menu ul {
  list-style-type: none;
  text-align: center;
}

.navigation-menu ul li {
  display: inline;
  padding: 0.625rem 0rem;
}

.navigation-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.875rem 1.25rem;
  width: 25%;
}
.navigation-menu ul li a:hover {
  background-color: #575757;
}
.navigation-menu a {
  float: left;
  padding: 0.625rem;
  color: white;
  text-decoration: none;
  font-size: 1.0625rem;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 0.625rem;
  padding: 1.25rem;
}

.left-sidebar,
.right-sidebar {
  background-color: #f9f9f9;
}
.left-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 70%;
}
.right-sidebar {
  padding: 1.25rem;
}
iframe {
  position: absolute;
  top: 0;
  left: 15%;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 100%;
  border: none;
}
.main-content {
  background-color: #e2e2e2;
  padding: 1.25rem;
  text-align: center;
}
svg {
  fill: black;
}

svg:hover {
  fill: #0060fd;
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
